body {
  background-color: #F8F7FF;
  color: #000940;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: auto;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0px;
  gap: 20px;
}

a:link {
  text-decoration: none;
  color: #000940;
}

a:visited {
  text-decoration: none;
  color: #BF00FF;
}

.header {
  background-color: #bfe6ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.header img {
  width: 20em;
  height: auto;
}

.hero {
  background-color: #000940;
}

.modal {
  align-items: baseline;
  background-color: #bf00ff50;
  border-radius: 15px;
  margin: 10px;
}

.list {
  display: flex;
  flex-direction: row;
}

.hero,
.modal {
  display: flex;
  justify-content: space-around;
  text-align: left;
  color: #F8F7FF;
  flex-direction: row;
  padding: 20px;
  gap: 50px;
}

.hero-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.hero-img img {
  border-radius: 50%;
  width: 12em;
  height: auto;
  box-shadow: 2px 2px 10px #F8F7FF;
}

.button {
  display: flex;
  justify-content:flex-start;
}

#sign-up {
  border-radius: 10%;
  background-color: #BF00FF;
  color: #E0f2e9;
  text-align: center;
  padding: 8px 18px;
  display: flex;
}

.group1 div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.group1 img {
  border: solid;
  border-color: #bfe6ff;
  box-shadow: 2px 2px 4px #000940;
  border-radius: 10%;
}

.group2 {
  background-color: #000940;
  color: #F8F7FF;
  text-align: left;
  padding: 20px;
}

.footer {
  background-color: #bfe6ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}